rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /gastronomia{
      allow read: if true;
    }
  }
}